@charset "UTF-8";
/* CSS Document */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}
/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

1.0 - Typography
1.1 - Headings
1.2 - Body Copy
1.3 - Buttons
1.4 - Lists
1.5 - Forms
1.6 - Tables


2.0 - Navigation Menus
2.1 - Main
2.2 - Sub
2.3 - Footer


3.0 - Content
3.1 - Site Structure
3.2	- Site Header
3.3	- Site Footer

4.0 - Media

--------------------------------------------------------------*/
/* 1.0 - Typography */
nav a, #about p:first-child, #home p, #about h2 {
	text-transform: uppercase;
}
a, nav a, #about p:first-child, #about section > p, #about h3, p, time, #products h2 {
	color: #432920;
}
#home p, #about h2, .col-1-4 h3 {
	color: #fdb3df;
}
#about > p {
	font-family: 'Nunito', sans-serif;
}
/* 1.6 - Tables */
p, time, .bg-pink caption, .bg-pink section table tr, #about h3, #about p:nth-child(3), ul span {
	font-family: 'Alegreya', serif;
}
#about section > p, #about h3 {
	font-size: 14px;
	font-weight: 400;
}
#about p:first-child {/*SPECIALTY BAKERY DEDICATED...*/
	font-size: 34px;
	text-align: center;
	font-weight: 700;
	padding: 40px 94px;
}
/* 1.4 - Lists */
ul span {
	font-variant: small-caps;
}
ul {
	list-style-image: url(../img/cherry.png);
}
/* 2.1 - Main */


nav li, #about h2 {
	display: inline-block;
}
a {
	text-decoration: none;
}
nav li {
	vertical-align: middle;
	padding: 0 70px;
}
nav a:hover, #about h2 a:hover {/* HOW DO I TARGET 'PLEASE GIVE US A CALL' TO CHANGE THE HOVER STATE? */
	color: #fdb3df;
}
nav a, #about p:first-child {/*SPECIALTY BAKERY DEDICATED...*/
	text-decoration: none;
}
nav li {
	font-size: 14px;
	display: inline-block;
	list-style: none;
}

/* 3.1 - Site Structure */
#home .bg-pink .wrapper {
	background: url("../img/hero.jpg") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	padding: 175px 0;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
.row {
	overflow: auto;
}
.bg-pink {
	background-color: #fdb3df;/*VERY TOP PINK W/ HERO */
	padding: 25px 60px;
}
#home p { /* TRY OUR SIGNATURE CUPCAKE */
	background-color: rgba(253, 179, 223, 0.5);
	font-size: 34px;
	font-weight: 700;
	padding: 10px 70px 10px 48px;/* CAN'T GET TRANSPARENCY TO SHORTEN IN WIDTH W/OUT USING EXCESSIVE MARGIN */
	margin-right: 300px;
}

#about h2 {
	float: left;
	margin: -3px 50px 10px 20px;
}
#about p:nth-child(3), #about p:nth-child(4), #about p:nth-child(5) {
	line-height: 30px;
	padding: 20px 374px 0 0;
}
#about p:nth-child(5) {
	padding-left: 170px;
}
#about section h2 {
	float: right;
	margin: -301px 213px 231px -30px;
}
#about section ul {
	float: right;
	margin: -279px 164px 231px 0;
}
#about img {
	float: left;
	position: relative;
	width: 170px;
	height: 170px;
}
#about p:nth-child(4) a:hover { /*HOW DO I TARGET THE SECOND ANCHOR TAG WITHOUT PUTTING AN ID ON IT? */
	color: #fdb3df;
}
#lt-pink {
	float: left;
}